.product {
    width: 400px;
    text-align: center;
    background-color: #2d2e32;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 10px 10px rgba($color: #000000, $alpha: 0.3);
    transition: all 0.3s ease-in-out;
    margin: 1rem;
    &:hover {
        box-shadow: none;
    }
    h2 {
        font-size: 1.5rem;
        color: #cda55f;
    }
    img {
        width: 350px;
        border-radius: 0.5rem;
        border: 2px solid #cda55f;
        margin: 0.5rem;
    }
    a {
        text-transform: lowercase;
        display: inline-block;
        margin: 0.5rem;
        background-color: #cda55f;
        color: #000;
        padding: 0.5rem;
        border-radius: 0.2rem;
        box-shadow: 0 10px 10px rgba($color: #000000, $alpha: 0.3);
        text-decoration: none;
        font-weight: 500;
        transition: all 0.3s ease-in-out;
        &:hover {
            box-shadow: none;
        }
    }
}
.animate1 {
    animation: fadeIn1 3s forwards;
}

@keyframes fadeIn1 {
    0% {
        opacity: 0;
        transform: translateY(-4em);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.animate2 {
    animation: fadeIn2 3s forwards;
}

@keyframes fadeIn2 {
    0% {
        opacity: 0;
        transform: translateY(4em);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.animate3 {
    animation: fadeIn3 3s forwards;
}

@keyframes fadeIn3 {
    0% {
        opacity: 0;
        transform: translateX(-5em);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
.animate4 {
    animation: fadeIn4 3s forwards;
}

@keyframes fadeIn4 {
    0% {
        opacity: 0;
        transform: translateX(5em);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@media (max-width: 500px) {
    .product {
        width: 100%;
        padding: 1rem;
        margin: 1rem 0;
        h2 {
            font-size: 1.2rem;
        }
        img {
            padding: 0;
            margin: 0;
            width: 90%;
        }
        a {
            font-size: 0.8rem;
            padding: 0.3rem;
        }
    }
}
