.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #2d2e32;
    color: #fff;
    padding: 1rem 0.5rem;
    box-shadow: 0 10px 10px rgba($color: #000000, $alpha: 0.2);
    .logo {
        font-weight: 900;
        font-size: 2.5rem;
        background: -webkit-linear-gradient(#ecdbb6, #cda55f);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow: 0 5px 5px rgba($color: #000000, $alpha: 0.2);
        span {
            font-size: 1.2rem;
            margin: 0.2rem;
            font-weight: 600;
        }
    }
    nav {
        ul {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
            text-align: center;
            margin: 0;
            li {
                list-style: none;
                margin: 0 2rem;
                font-weight: 600;
                font-size: 1.2rem;
                color: #b78c57;
                text-shadow: 0 5px 5px rgba($color: #000000, $alpha: 0.2);
            }
            .mail {
                img {
                    width: 25px;
                }
                background-color: #292a2e;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                box-shadow: 0 5px 5px rgba($color: #000000, $alpha: 0.3);
                transition: all 0.3s ease-in-out;
                cursor: pointer;
                &:hover {
                    box-shadow: none;
                }
            }
        }
    }
}

@media (max-width: 800px) {
    .nav {
        flex-direction: column;
        text-align: center;
        nav {
            width: 100vw;
            ul {
                padding: 0;
                li {
                    margin: 0 0.5rem;
                }
                .mail {
                    img {
                        width: 20px;
                    }
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }
}
